<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keke.mapper.ChartsMapper">

    <select id="selectConfirmed" resultType="com.keke.domain.Confirmed">
        select provinceName, currentConfirmedCount, confirmedCount, curedCount from countrydata order by currentConfirmedCount desc
    </select>

</mapper>
